.headerContainer {
  background-color: #2f3640;
  margin-bottom: 10px;
  width: 100%;
}

.headerTitleContainer {
  align-items: center;
  background-color: rgba(0 0 0 / 10%);
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

.headerTitle, .headerTitle span {
  font-size: 2rem;
  position: relative;
}

.headerTitle span {
  color: #16a085;
}

.pagesList {
  column-gap: 2px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pagesList li {
  background-color: rgba(0 0 0 / 5%);
  cursor: pointer;
  flex-basis: 250px;
  flex-grow: 1;
  padding: 15px 20px;
  text-align: center;
}

.pagesList li:hover {
  background-color: #16a085;
}

.loading {
  padding-block: 60px;
  text-align: center;
}
