.formLogin {
  background-color: #2f3640;
  border-radius: 12px;
  box-shadow: 0 0 5px rgba(0 0 0 / 20%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.titleLoginContainer {
  background-color: rgba(0 0 0 / 10%);
  background-image: url('../images/cubic.png');
  border-bottom-left-radius: -50px;
  padding: 50px 40px;
}

.titleLogin, .titleLogin span {
  font-size: 2rem;
  position: relative;
}

.titleLogin span {
  color: #16a085;
}

.titleLogin:before {
  background-color: #16a085;
  border-radius: 5px;
  bottom: -10px;
  content: '';
  height: 5px;
  left: 0;
  position: absolute;
  width: 50px;
}

.userLoginContainer {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
  padding-inline: 40px;
  padding-top: 25px;
}

.userLogin {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  row-gap: 10px;
}

.inputLogin {
  background-color: #eee;
  border: 2px solid #e0e0e0;
  border-radius: 5px;
  color: #212121;
  padding: 10px 15px;
}

.inputLogin:focus {
  border-color: #16a085;
}

.buttonLogin {
  background-color: transparent;
  border: 2px solid #16a085;
  border-radius: 5px;
  color: #16a085;
  margin-top: 15px;
  padding: 10px;
}

.buttonLogin:hover {
  background-color: #16a085;
  color: whitesmoke;
}

.buttonLogin:disabled {
  background-color: #e0e0e0;
  border-color: #e0e0e0;
  color: #212121;
  cursor: not-allowed;
}
