@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  border: 15px;
  box-sizing: border-box;
  font-family: Inter , sans-serif;
  font-size: 14px;
  margin: 0;
  outline: none;
  padding: 0;
}

:root {

  --color-theme: rgb(22 160 133);
  --dark-color: rgb(33 33 33);
  --primary: rgb(238 238 238);
  --secondary: rgb(224 224 224);
  --shadow: 0 0 20px rgba(0 0 0 / 50%);
}

::selection {
  background-color: #16a085;
  color: whitesmoke;
}

body {
  background-color: #e0e0e0;
  color: #212121;
}

button {
  cursor: pointer;
  opacity: 0.8;
}

button:hover {
  opacity: 1;
}

ul {
  list-style-type: none;
}

a {
  color: whitesmoke;
  text-decoration: none;
}
